.label {
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;

  &[role="Mentor"] {
    background: palevioletred;
  }
  &[role="Admin"] {
    background: cornflowerblue;
  }

  @media screen and (max-width: 600px) {
    font-size: 10px;
  }
}
