.description {
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; // Based on 10px.
  gap: 20px;
  padding: 136px 0 114px;
  margin: 0 auto;
  width: 1280px;

  @media only screen and (max-width: 1280px) {
    padding: 136px 24px 114px;
  }

  @media only screen and (max-width: 768px) {
    padding: 136px 24px 80px;
    margin: 0 auto;
    max-width: 1280px;
  }
}
