.description {
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; // Based on 10px.
  gap: 20px;
  padding: 72px 0 114px;
  margin: 0 auto;
  max-width: 1280px;

  @media only screen and (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
    padding: 72px 24px 114px;
    margin: 0 auto;
  }
}
