@import "../../styles/media.scss";

// $colors: #456c3d, #669f54, #7ec16a, #b9e7ac, #ecedf0;

.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; // Based on 10px.
  background-color: var(--background-description);
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.2);
  padding: 95px 25px 97px;
  position: relative;
  margin-bottom: -30px;
  gap: 20px;
}

@media only screen and (max-width: $mdDesktop) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
    padding: 106px 25px 64px;
    font-size: 1.556rem; // Based on 9px.
  }
}
