@import "../../styles/colors";

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 100px 0;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  color: $blue-500;
}

.star {
  width: 51px;
  height: 51px;
  background-image: url("../../public/Star\ 1.svg");
  margin: -30px 0 0 -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star::after {
  content: "30K";
  transform: rotate(30deg);
  font-size: 12px;
  color: black;
}

.description {
  font-size: 1rem; // Based on 16px.
}

.infoContainer {
  direction: ltr;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.license {
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .descriptionContainer {
    padding: 0px 10px 0;
  }

  .infoContainer {
    flex-direction: column;
    justify-content: flex-end;
    direction: rtl;
  }

  .description {
    font-size: 1rem; // Based on 16px.
  }
}
