@import "../../../styles/colors";

.listContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.technologies {
  width: max-content;
  padding: 2px 10px;
  border-radius: 13px;
  background: var(--primary);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: $very-light-gray;
  user-select: none;
}
