$vivid-blue: #1778F2;
$strong-blue: #0088cc;
$dark-gray: #808080;
$soft-blue: #7289da;
$very-light-gray: #e2e2e2;
$dark-blue: #0b008e;
$moderate-red: #ce5a55;
$light-gray: #e8e8e8;
$very-dark-blue: #242831;
$dark-blue-black: #1d1d1d;
$very-dark-gray: #353535;
$very-dark-blue-black: #202529;
$very-dark-grayish-blue: #292e33;

