@import "./typography.scss";
@import "../styles/colors";

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;

  *:focus {
    outline: none;
  }
}

html {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  background-color: var(--background-color);
  color: var(--text);

  @media screen and (max-width: 600px) {
    font-size: 9px;
  }
}

html {
  --primary: #{$red-200};
  --background-color: #{$gray-100};
  --background-description: white;
  --card-background: white;
  --header-background: #{$gray-700};
  --text: #{$gray-900};
}

html.dark {
  --primary: #{$red-200};
  --background-color: #{$gray-500};
  --background-description: #{$gray-800};
  --card-background: #{$gray-600};
  --header-background: black;
  --text: #{$gray-100};
}
