@import "./typography.scss";
@import "../styles/colors";

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;

  *:focus {
    outline: none;
  }
}

html {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  background-color: var(--background-color);
  color: var(--text);

  @media screen and (max-width: 600px) {
    font-size: 9px;
  }
}

html {
  --primary: #{$moderate-red};
  --background-color: #{$light-gray};
  --background-description: white;
  --card-background: white;
  --header-background: #{$very-dark-blue};
  --text: #{$dark-blue-black};
}

html.dark {
  --primary: #{$moderate-red};
  --background-color: #{$very-dark-gray};
  --background-description: #{$very-dark-blue-black};
  --card-background: #{$very-dark-grayish-blue};
  --header-background: black;
  --text: #{$light-gray};
}
