@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;

  *:focus {
    outline: none;
  }
}

html {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  background-color: var(--background-color);
  color: var(--text);
  font-size: 10px;

  @media screen and (max-width: 600px) {
    font-size: 9px;
  }

  .toggle-dark-mode {
    background-color: transparent;
    border: none;
    margin-left: 1rem;
  }
}

html {
  --primary: #ce5a55;
  --background-color: #e8e8e8;
  --background-description: white;
  --card-background: white;
  --header-background: #242831;
  --text: #1d1d1d;
}

html.dark {
  --primary: #ce5a55;
  --background-color: #353535;
  --background-description: #202529;
  --card-background: #292e33;
  --header-background: #000;
  --text: #e8e8e8;
}
