@import "media";

.container {
  width: 100%;

  .cards__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px 45px;
    justify-items: center;
  }
}
