@import "media";

.container {
  width: 100%;

  .cards__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: minmax(220px, auto);
    justify-items: center;
    transition: 1s ease;
    column-gap: 30px;
    & > [class^="person"] {
      margin-bottom: 45px;
    }
  }
}

@media only screen and (max-width: $smTablet) {
  .container {
    .cards__wrapper {
      & > [class^="person"] {
        margin: 10px auto;
      }
    }
  }
}
