.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-top: 2em;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.githubButton {
  display: inline-flex;
  padding: 0.25em 0.5em;
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  border: 1px solid #c5c9cc;
  border-radius: 0.25em;
  color: #24292e;
}
