.container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  direction: ltr;
}

.navigationButtonsContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
